# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

scopeName: 'source.obsidian'
name: 'Obsidian' # The title that will show up in grammar selection and on your status bar.
fileTypes: [ # An array of file extensions.
  'on'
]
patterns: [
  {
    begin: '(^|;)[ \t]*([_a-zA-Z][_a-zA-Z0-9]*[?]?)([ \t]*[+\\-=/*&|^%!<>.:$]+[ \t]*[_a-zA-Z][_a-zA-Z0-9]*[?]?)*([ \t]+(?=[^+\\-=/*&|^%!<>.:$,\\s]))'
    beginCaptures:
      2: name: 'keyword.call.obsidian'
      3: name: 'keyword.call.obsidian'
      # 4: name: 'test.string.obsidian'
    patterns: [
      {
        include: '#call'
      }
      {
        include: '#constants'
      }
      {
        include: '#comment'
      }
    ]
    end: '($|(?=;))'
  }
  {
    include: '#call'
  }
  {
    include: '#constants'
  }
  {
    include: '#comment'
  }
]

repository:
  float:
    match: '([0-9][_0-9]*\\.[0-9][_0-9]*([eE][0-9][_0-9]*)?)'
    name: 'constant.numeric.obsidian'
  int:
    match: '([0-9][_0-9]*([eE][0-9][_0-9]*)?)'
    name: 'constant.numeric.obsidian'
  triple_double_string:
    begin: '"""'
    beginCaptures:
      0: name: 'string.quoted.triple.obsidian'
    patterns: [
      {
        match: '[^"\\\\]+'
        name: 'string.quoted.triple.obsidian'
      }
      {
        match: '\\\\.'
        name: 'constant.character.escape'
      }
      {
        match: '"{1,2}(?!")'
        name: 'string.quoted.triple.obsidian'
      }
    ]
    end: '"""'
    endCaptures:
      0: name: 'string.quoted.triple.obsidian'
  triple_single_string:
    begin: "'''"
    beginCaptures:
      0: name: 'string.quoted.triple.obsidian'
    patterns: [
      {
        match: "[^'\\\\]+"
        name: 'string.quoted.triple.obsidian'
      }
      {
        match: '\\\\.'
        name: 'constant.character.escape'
      }
      {
        match: "'{1,2}(?!')"
        name: 'string.quoted.triple.obsidian'
      }
    ]
    end: "'''"
    endCaptures:
      0: name: 'string.quoted.triple.obsidian'
  double_string:
    begin: '"'
    beginCaptures:
      0: name: 'string.quoted.double.obsidian'
    patterns: [
      {
        begin: '{'
        patterns: [
          {
            include: '#constants'
          }
          {
            include: '#call'
          }
        ]
        end: '}'
      }
      {
        match: '[^"\\\\{}]+'
        name: 'string.quoted.double.obsidian'
      }
      {
        match: '\\\\.'
        name: 'constant.character.escape'
      }
    ]
    end: '"'
    endCaptures:
      0: name: 'string.quoted.double.obsidian'
  single_string:
    begin: "'"
    beginCaptures:
      0: name: 'string.quoted.single.obsidian'
    patterns: [
      {
        match: "[^'\\\\]+"
        name: 'string.quoted.single.obsidian'
      }
      {
        match: '\\\\.'
        name: 'constant.character.escape'
      }
    ]
    end: "'"
    endCaptures:
      1: name: 'string.quoted.single.obsidian'
  symbol:
    match: '(@[_a-zA-Z][_a-zA-Z0-9]*[?]?)'
    name: 'constant.other.obsidian'
  binary_ident:
    match: '(~[_a-zA-Z][_a-zA-Z0-9]*[?]?)'
    name: 'keyword.other.obsidian'
  comment:
    match: '(#.*?$)'
    name: 'comment.line.obsidian'
  keyword:
    match: '(do|end)'
    name: 'keyword.control.obsidian'
  lang_const:
    match: '(true|false|nil)'
    name: 'constant.language.obsidian'
  ident:
    match: '([_a-zA-Z][_a-zA-Z0-9]*[?]?)'
    name: 'identifier.obsidian'
  # op:
  #   match: '([+\-=/*&|^%!<>.:$]+)'
  #   name: 'operator.obsidian'
  kwarg:
    match: '([_a-zA-Z][_a-zA-Z0-9]*[?]?[ \t]*:)'
    name: 'entity.name.tag.obsidian'

  constants:
    patterns: [
      # {
      #   include: '#op'
      # }
      {
        include: '#float'
      }
      {
        include: '#int'
      }
      {
        include: '#triple_double_string'
      }
      {
        include: '#triple_single_string'
      }
      {
        include: '#double_string'
      }
      {
        include: '#single_string'
      }
      {
        include: '#symbol'
      }
      {
        include: '#binary_ident'
      }
      {
        include: '#keyword'
      }
      {
        include: '#lang_const'
      }
      {
        include: '#kwarg'
      }
      {
        include: '#ident'
      }
    ]

  call:
    begin: '\\([ \t]*(~?[_a-zA-Z][_a-zA-Z0-9]*[?]?|[+\\-=/*&|^%!<>.:$]+)([ \t]*[+\\-=/*&|^%!<>.:$]+[ \t]*[_a-zA-Z][_a-zA-Z0-9]*[?]?)*(?=([ \t]+[^+\\-=/*&|^%!<>.:$,~\\s])|([ \t]*\\))|([^,]*(\\)|$)))'
    beginCaptures:
      1: name: 'entity.name.function.obsidian'
      2: name: 'entity.name.function.obsidian'
    end: '\\)'
    patterns: [
      {
        include: '#constants'
      }
      {
        include: '#comment'
      }
      {
        include: '$self'
      }
    ]
